{% extends 'base.html' %}

{% block title%}
Landing Page
{% endblock %}

{% block content %}
<div class="jumbotron" style="background-image: url('../static/images/3.jpg')">
	<div class="container">
		<div class="textN">
			<div>
				<label>Kelompok</label>
			</div>
			<div>
				<ol type="A">
					<li>Nama Kelompok :
						<ul type="none">
							<li>Tanpa Gula</li>
						</ul>
					</li>
					<li>Anggota Kelompok :
						<ul type="none">
							<li> 191080200102 - Dava Nurkurniawan</li>
							<li> 191080200156 - Maulana Iqbhal P.S</li>
							<li> 191080200123 - Suseno Ardiansyah</li>
						</ul>
					</li>
					<li>
						Framework Pilihan :
						<ul type="none">
							<li>Python Django (2)</li>
						</ul>
					</li>
					<li>
						Alamat Repository:
						<ul type="none">
							<li>https://github.com/MaulanaIqbhal156/TANPAGULA</li>
						</ul>
					</li>
					<li>
						Alamat Ngrok :
						<ul type="none">
							<li>https://c407-2001-448a-50e1-8ee2-213f-1538-a7da-3fdc.ap.ngrok.io</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}