{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
	</style>

	<title>Landing Page</title>
</head>
<body>
	<div class="">
		<div class="bg-dark">
			<nav class="navbar navbar-dark container">
				<div class="">
					<a class="navbar-brand" href="#" style="font-family: 'Roboto Mono', monospace;">Tanpa Gula</a>
				</div>
			</nav>
		</div>

		<div class="jumbotron" style="background-image: url('../static/images/3.jpg')">
			<div class="container">
				<div class="textN">
					<div>
						<label>Kelompok</label>
					</div>
					<div>
						<ol type="A">
							<li>Nama Kelompok :
								<ul type="none">
									<li>Tanpa Gula</li>
								</ul>
							</li>
							<li>
								Framework Pilihan :
								<ul type="none">
									<li>Python Django (2)</li>
								</ul>
							</li>
							<li>
								Alamat Repository:
								<ul type="none">
									<li>https://github.com/MaulanaIqbhal156/TANPAGULA</li>
								</ul>
							</li>
							<li>
								Alamat Ngrok :
								<ul type="none">
									<li>z</li>
								</ul>
							</li>
						</ol>
					</div>
				</div>
				
			</div>
		</div>


	</div>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>